/* colors */
$primary: #2B4E53;
$secondary: #E0E0E0;
$white: #FFFFFF;
$gray: #808080;

/* font */
$font-primary: 'Roboto';
$font-secondary: 'Montserrat';

$font-xlarge: 36px;
$font-large: 22px;
$font-medium: 18px;
$font-small: 16px;
$font-xsmall: 12px;

/* padding */

$padding-large: 40px;
$padding: 20px;
$padding-small: 10px;
$padding-xsmall: 5px;

/* grid */
$gap-large: 30px;
$gap: 15px;
$gap-small: 10px;